p{
    font-size: 20px;
    font-family: marlett;
    font-weight: bold;
    color: white    ;
    text-align: center;

    
    

}
main{
    background-color;
}
header{
    background-color: gold;
}
footer{
    background-color: white;
}
body{
    background-image: url(https://images7.memedroid.com/images/UPLOADED918/5e1c45f0f0850.jpeg) ;
}